

<br>

<body>
<center>

	<div id="header">
		<h1> {{infoN}} </h1>
	</div>
	<div id="follow2">
   		<p> {{infoD}} </p> 
   		<br> 
   		<p style="font-size:30px;"> Exercises: </p> <p> {{infoE}} </p>
   	</div>
   	<a href="/homepage" class="backbutton"><p style="font-size:20px;">Back<p></a>
</center>
</body>