<br>

<body>
<center>

	<div id="header">
		<h1> VIA Milestones </h1>
	</div>

	<h2 id="follow"> Improvement One Step at a Time </h2> <br>

	<div class="btext" onClick="location.href='/profile';">
		<p> Profile </p>
		<img src="/images/profile.png" height="60%" width="50%" alt="Not By Design" />
	</div>

	<div class="btext" onClick="location.href='/exercise';">
		<p> Exercises </p>
		<img src="/images/exercise.png" height="60%" width="50%" alt="Not By Design" />
	</div>

	<div class="btext" onClick="location.href='/progress';">
		<p> Progress Reports </p>
		<img src="/images/progress.png" height="50%" width="45%" alt="Not By Design" />
	</div>

	<div class="btext" onClick="location.href='/logout';">
		<p> Log Out </p>
		<img src="/images/logout.png" height="50%" width="40%" alt="Not By Design" />
	</div>			



</center>
</body>
