<br>

<body>
<center>

	<div id="header">
		<h1> Profile </h1>
	</div>

	<h3 id="follow">Strenghts & Weaknesses</h3> <br>

	<div class="btext">
		<p> {{{Message}}} </p>
	</div>

		<!-- stuff for passport
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default">Login</a> | 
        <a href="/register" class="btn btn-default"> Register</a>
        -->
</center>
</body>
