<center>
<h1> VIA Milestones </h1>
<h2> Register! </h2>
{{message}}
<form method="POST" action="/register">
		<label>Username:</label>
		<input type="text" name="username" placeholder="Username">
		<br>
		<label>Password:</label>
		<input type="password" name="password" placeholder="Password"></br></br>
		<input type="submit" value="Register">
</form>

<br>
<p>Already Have an Account? <a href="/login">Login!</a></p>
</center> 
