<br>

<body>
<center>
	
	{{#if error}}
   		<h3 class="alert">{{error}}</h3>
	{{/if}}

	<p> Fill out all three strengths: </p>
	<br>

	<form method="POST" action="/mystrengthsedit">
			<label> First </label>
				<select name="firstStrength">
				<option value="">--Please choose an option--</option>
					<optgroup label="Wisdom">
						<option value="Creativity"> Creativity </option>
						<option value="Curiosity"> Curiosity </option>
						<option value="Judgement"> Judgement </option>
						<option value="Love of Learning"> Love of Learning </option>
						<option value="Perspective"> Perspective </option>
					</optgroup>
					<optgroup label="Courage">
						<option value="Bravery"> Bravery </option>
						<option value="Honesty"> Honesty </option>
						<option value="Perseverance"> Perseverance </option>
						<option value="Zest"> Zest </option>
					</optgroup>
					<optgroup label="Humanity">
						<option value="Kindness"> Kindness </option>
						<option value="Love"> Love </option>
						<option value="Social Intelligence"> Social Intelligence </option>
					</optgroup>
					<optgroup label="Justice">
						<option value="Fairness"> Fairness </option>
						<option value="Leadership"> Leadership </option>
						<option value="Teamwork"> Teamwork </option>
					</optgroup>
					<optgroup label="Temperance">
						<option value="Forgiveness"> Forgiveness</option>
						<option value="Humility"> Humility</option>
						<option value="Prudence"> Prudence </option>
						<option value="Self Regulation"> Self Regulation</option>
					</optgroup>
					<optgroup label="Transcendence">
						<option value="Appreciation of Beauty"> Appreciation of Beauty </option>
						<option value="Gratitude"> Gratitude </option>
						<option value="Hope"> Hope </option>
						<option value="Humor"> Humor </option>
						<option value="Spirituality"> Spirituality </option>
					</optgroup>
				</select>

				<br>
				<label> Second </label>
				<select name="secondStrength">
				<option value="">--Please choose an option--</option>
					<optgroup label="Wisdom">
						<option value="Creativity"> Creativity </option>
						<option value="Curiosity"> Curiosity </option>
						<option value="Judgement"> Judgement </option>
						<option value="Love of Learning"> Love of Learning </option>
						<option value="Perspective"> Perspective </option>
					</optgroup>
					<optgroup label="Courage">
						<option value="Bravery"> Bravery </option>
						<option value="Honesty"> Honesty </option>
						<option value="Perseverance"> Perseverance </option>
						<option value="Zest"> Zest </option>
					</optgroup>
					<optgroup label="Humanity">
						<option value="Kindness"> Kindness </option>
						<option value="Love"> Love </option>
						<option value="Social Intelligence"> Social Intelligence </option>
					</optgroup>
					<optgroup label="Justice">
						<option value="Fairness"> Fairness </option>
						<option value="Leadership"> Leadership </option>
						<option value="Teamwork"> Teamwork </option>
					</optgroup>
					<optgroup label="Temperance">
						<option value="Forgiveness"> Forgiveness</option>
						<option value="Humility"> Humility</option>
						<option value="Prudence"> Prudence </option>
						<option value="Self Regulation"> Self Regulation</option>
					</optgroup>
					<optgroup label="Transcendence">
						<option value="Appreciation of Beauty"> Appreciation of Beauty </option>
						<option value="Gratitude"> Gratitude </option>
						<option value="Hope"> Hope </option>
						<option value="Humor"> Humor </option>
						<option value="Spirituality"> Spirituality </option>
					</optgroup>

				</select>
				<br>
				<label> Third </label>
				<select name="thirdStrength">
				<option value="">--Please choose an option--</option>
					<optgroup label="Wisdom">
						<option value="Creativity"> Creativity </option>
						<option value="Curiosity"> Curiosity </option>
						<option value="Judgement"> Judgement </option>
						<option value="Love of Learning"> Love of Learning </option>
						<option value="Perspective"> Perspective </option>
					</optgroup>
					<optgroup label="Courage">
						<option value="Bravery"> Bravery </option>
						<option value="Honesty"> Honesty </option>
						<option value="Perseverance"> Perseverance </option>
						<option value="Zest"> Zest </option>
					</optgroup>
					<optgroup label="Humanity">
						<option value="Kindness"> Kindness </option>
						<option value="Love"> Love </option>
						<option value="Social Intelligence"> Social Intelligence </option>
					</optgroup>
					<optgroup label="Justice">
						<option value="Fairness"> Fairness </option>
						<option value="Leadership"> Leadership </option>
						<option value="Teamwork"> Teamwork </option>
					</optgroup>
					<optgroup label="Temperance">
						<option value="Forgiveness"> Forgiveness</option>
						<option value="Humility"> Humility</option>
						<option value="Prudence"> Prudence </option>
						<option value="Self Regulation"> Self Regulation</option>
					</optgroup>
					<optgroup label="Transcendence">
						<option value="Appreciation of Beauty"> Appreciation of Beauty </option>
						<option value="Gratitude"> Gratitude </option>
						<option value="Hope"> Hope </option>
						<option value="Humor"> Humor </option>
						<option value="Spirituality"> Spirituality </option>
					</optgroup>

				</select>
			<br>
			<input type="submit" class="submitbutton">	
	</form>
		<a href="/homepage" class="backbutton"><p style="font-size:20px;">Back<p></a>


</center>
</body>


