<br>

<body>
<center>



	<form method="POST" action="/mystrengthsedit">
			1st Strength: <input type="text" name="firstStrength" value=""> <br>
			2nd Strength: <input type="text" name="secondStrength" value=""> <br>
			3rd Strength: <input type="text" name="thirdStrength" value=""> <br>
			<input type="submit">	
	</form>

</center>
</body>


