<br>

<body>
<center>
	
	{{#if error}}
   		<h3 class="alert">{{error}}</h3>
	{{/if}}

	Fill out all three strengths: 
	<br>

	<form method="POST" action="/mystrengthsedit">
			<label> First </label>
				<select name="firstStrength">
				<option value="">--Please choose an option--</option>
					<optgroup label="Wisdom">
						<option value="creativity"> Creativity </option>
						<option value="curiosity"> Curiosity </option>
						<option value="judgement"> Judgement </option>
						<option value="loveoflearning"> Love of Learning </option>
						<option value="perspective"> Perspective </option>
					</optgroup>
					<optgroup label="Courage">
						<option value="bravery"> Bravery </option>
						<option value="honesty"> Honesty </option>
						<option value="preseverance"> Perseverance </option>
						<option value="zest"> Zest </option>
					</optgroup>
					<optgroup label="Humanity">
						<option value="kindness"> Kindness </option>
						<option value="love"> Love </option>
						<option value="socialintelligence"> Social Intelligence </option>
					</optgroup>
					<optgroup label="Justice">
						<option value="fairness"> Fairness </option>
						<option value="leadership"> Leadership </option>
						<option value="teamwork"> Teamwork </option>
					</optgroup>
					<optgroup label="Temperance">
						<option value="forgiveness"> Forgiveness</option>
						<option value="humility"> Humility</option>
						<option value="prudence"> Prudence </option>
						<option value="selfregulation"> Self Regulation</option>
					</optgroup>
					<optgroup label="Transcendence">
						<option value="appreciationofbeauty"> Appreciation of Beauty </option>
						<option value="gratitude"> Gratitude </option>
						<option value="hope"> Hope </option>
						<option value="humor"> Humor </option>
						<option value="spirituality"> Spirituality </option>
					</optgroup>
				</select>

				<br>
				<label> Second </label>
				<select name="secondStrength">
				<option value="">--Please choose an option--</option>
					<optgroup label="Wisdom">
						<option value="creativity"> Creativity </option>
						<option value="curiosity"> Curiosity </option>
						<option value="judgement"> Judgement </option>
						<option value="loveoflearning"> Love of Learning </option>
						<option value="perspective"> Perspective </option>
					</optgroup>
					<optgroup label="Courage">
						<option value="bravery"> Bravery </option>
						<option value="honesty"> Honesty </option>
						<option value="preseverance"> Perseverance </option>
						<option value="zest"> Zest </option>
					</optgroup>
					<optgroup label="Humanity">
						<option value="kindness"> Kindness </option>
						<option value="love"> Love </option>
						<option value="socialintelligence"> Social Intelligence </option>
					</optgroup>
					<optgroup label="Justice">
						<option value="fairness"> Fairness </option>
						<option value="leadership"> Leadership </option>
						<option value="teamwork"> Teamwork </option>
					</optgroup>
					<optgroup label="Temperance">
						<option value="forgiveness"> Forgiveness</option>
						<option value="humility"> Humility</option>
						<option value="prudence"> Prudence </option>
						<option value="selfregulation"> Self Regulation</option>
					</optgroup>
					<optgroup label="Transcendence">
						<option value="appreciationofbeauty"> Appreciation of Beauty </option>
						<option value="gratitude"> Gratitude </option>
						<option value="hope"> Hope </option>
						<option value="humor"> Humor </option>
						<option value="spirituality"> Spirituality </option>
					</optgroup>
				</select>
				<br>
				<label> Third </label>
				<select name="thirdStrength">
				<option value="">--Please choose an option--</option>
					<optgroup label="Wisdom">
						<option value="creativity"> Creativity </option>
						<option value="curiosity"> Curiosity </option>
						<option value="judgement"> Judgement </option>
						<option value="loveoflearning"> Love of Learning </option>
						<option value="perspective"> Perspective </option>
					</optgroup>
					<optgroup label="Courage">
						<option value="bravery"> Bravery </option>
						<option value="honesty"> Honesty </option>
						<option value="preseverance"> Perseverance </option>
						<option value="zest"> Zest </option>
					</optgroup>
					<optgroup label="Humanity">
						<option value="kindness"> Kindness </option>
						<option value="love"> Love </option>
						<option value="socialintelligence"> Social Intelligence </option>
					</optgroup>
					<optgroup label="Justice">
						<option value="fairness"> Fairness </option>
						<option value="leadership"> Leadership </option>
						<option value="teamwork"> Teamwork </option>
					</optgroup>
					<optgroup label="Temperance">
						<option value="forgiveness"> Forgiveness</option>
						<option value="humility"> Humility</option>
						<option value="prudence"> Prudence </option>
						<option value="selfregulation"> Self Regulation</option>
					</optgroup>
					<optgroup label="Transcendence">
						<option value="appreciationofbeauty"> Appreciation of Beauty </option>
						<option value="gratitude"> Gratitude </option>
						<option value="hope"> Hope </option>
						<option value="humor"> Humor </option>
						<option value="spirituality"> Spirituality </option>
					</optgroup>
				</select>
			<input type="submit">	
	</form>



</center>
</body>


