<br>

<body>
<center>

	{{message}}

	Fill out the strengths you want to edit/add 
	<form method="POST" action="/myweaknessesedit">
			1st Strength: <input type="text" name="firstWeakness" value=""> <br>
			2nd Strength: <input type="text" name="secondWeakness" value=""> <br> 
			3rd Strength: <input type="text" name="thirdWeakness" value=""> <br>
			<input type="submit">	
	</form>

</center>
</body>


